<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A01039785</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    /* Make the image fully responsive */
    .carousel-inner img {
      width: 60%;
      height: 60%;
    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      height: 100px;
      width: 100px;
      background-size: 100%, 100%;
      background-image: none;
    }
    .carousel-control-next-icon:after
    {
      content: '>';
      font-size: 55px;
      color: black;
    }

    .carousel-control-prev-icon:after {
      content: '<';
      font-size: 55px;
      color: black;
    }
    </style>
</head>
<body>
    
    <style>
    .footer {
       clear: both;
       position: relative;
       height: 40px;
       left: 0;
       bottom: 0;
       width: 100%;
       background-color: #f8f9fa;
       color: black;
       text-align: center;
    }
    </style>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
  <div class="row align-items-center">
    <div class="col-md-8">
      <p style="font-family:'Verdana';font-size:24px">Hola, soy Ingrid Hernández</p>
      <p style="font-family:'Courier New';font-size:18px">Soy una estudiante de 7mo semestre de Ingeniería en</p>
      <p style="font-family:'Courier New';font-size:18px">Tecnologías Computacionales del Tec de Mty.</p>
      <button class="btn btn-primary" href="#" data-toggle="popover" title="Mi mail:" data-content="ingridhdezbenz@gmail.com">Contactame</button>
    </div>
    <div class="col-6 col-md-4">
      <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/p1.png" style="width:210px;height:250px;">
    </div>
  </div>
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();   
});
</script>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p style="font-family:'Verdana';font-size:20px; margin-top: 60px">Experiencia:</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
        <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Twitter%20logo%202012.png" style="width:40px;height:40px;">
        <p style="font-family:'Courier New';font-size:16px;color: blue; margin-top: 20px">Early Bird</p>
        <p style="font-family:'Courier New';font-size:12px;margin-bottom: 20px">Parte del programa Early Bird para estudiantes de primer año de carreras relacionadas a CS, en donde desarrollas un demo para mejorar la plataforma web y movil de Twitter</p>
      </div>
    </div>
    <div class="col-sm">
      <div class="text-center">
        <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/1200px-Cemex_logo.svg.png" style="width:80px;height:30px;margin-top: 10px">
        <p style="font-family:'Courier New';font-size:16px;color: blue; margin-top: 20px">Software Engineer Intern</p>
        <p style="font-family:'Courier New';font-size:12px;">Desarollo de Add-ons y aplicaciones para integrar la tecnología del Centro de Investigación de CEMEX con la metodología BIM</p>
      </div>
    </div>
    <div class="col-sm">
      <div class="text-center">
        <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/bluepeople_b.png" style="width:60px;height:40px;">
        <p style="font-family:'Courier New';font-size:16px;color: blue; margin-top: 20px">Program Manager</p>
        <p style="font-family:'Courier New';font-size:12px;">PM, Analista y Tester de sistemas de software utilizando la metodología de SCRUM</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p style="font-family:'Verdana';font-size:20px; margin-top: 60px">Lenguajes de Programación:</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <span class="badge badge-primary" style="font-size: 14px">C++</span>
      <span class="badge badge-secondary" style="font-size: 14px">C#</span>
      <span class="badge badge-success" style="font-size: 14px">SQL</span>
      <span class="badge badge-danger" style="font-size: 14px">Python</span>
      <span class="badge badge-warning" style="font-size: 14px">JavaScript</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
      <p style="font-family:'Verdana';font-size:20px; margin-top: 60px">Lo que me hace feliz</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="text-center">
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
          <li data-target="#demo" data-slide-to="3"></li>
          <li data-target="#demo" data-slide-to="4"></li>
          <li data-target="#demo" data-slide-to="5"></li>
          <li data-target="#demo" data-slide-to="6"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture7.jpg" alt="Tennis" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture6.jpg" alt="Mi mamá" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture5.jpg" alt="Conciertos" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture4.jpg" alt="Viajar" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture3.jpg" alt="Mis amigas" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture2.jpg" alt="La arquitectura" width="722" height="535">
          </div>
          <div class="carousel-item">
            <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/Picture1.jpg" alt="El café" width="722" height="535">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <p style="font-family:'Verdana';font-size:20px; margin-top: 60px">Mis mascotas:</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="row">
        <div class="col-sm">
          <div class="card" style="width: 18rem;" id="cambiarfoto">
            <img :src="myImage" class="card-img-top" alt="...">
            <div class="card-body">
              <a class="btn btn-primary" @click="myImage = otherImage">Cambiar foto</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;" id="likesPerros">
        <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/d168e23e-b2dd-4120-8bd7-6dbfbbe17f14.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Likes: {{ value }}</h5>
          <button class="btn btn-primary" @click="value += 1">Like</button>
          <p>{{ result }}</p>
        </div>
      </div>
    </div>
  <div class="col-sm">
      <div class="card" style="width: 18rem;" id="likesGato">
        <img src="https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/IMG-4366.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Likes: {{ value }}</h5>
          <button class="btn btn-primary" @click="value += 1">Like</button>
          <p>{{ result }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script>
  new Vue({
    el: '#cambiarfoto',
    data() {
      return { 
        myImage: "https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/d168e23e-b2dd-4120-8bd7-6dbfbbe17f14.JPG",
        otherImage: "https://raw.githubusercontent.com/ingridhdezbenz/Parcial2/main/parcial/IMG-4366.JPG",
      }
    }
  });
</script>
<script>
    new Vue({
        el: '#likesPerros',
        data: {
            value: 0,
            seconds: 5
        },
        watch: {
            result () {
                setTimeout(() => this.value = 0, this.seconds * 1000);
            }
        }
    });

    const { Connection, Request } = require("tedious");

    // Create connection to database
    const config = {
    authentication: {
        options: {
        userName: "ingrid", // update me
        password: "monterrey07$" // update me
        },
        type: "default"
    },
    server: "web-server.database.windows.net", // update me
    options: {
        database: "parcial02", //update me
        encrypt: true
    }
    };

    const connection = new Connection(config);

    // Attempt to connect and execute queries if connection goes through
    connection.on("connect", err => {
    if (err) {
        console.error(err.message);
    } else {
        queryDatabase();
    }
    });

    function queryDatabase() {
    console.log("Reading rows from the Table...");

    // Read all rows from table
    const request = new Request(
        `INSERT INTO Perros (AcumP) VALUES (1);`,
    );

    connection.execSql(request);
    }
</script>
<script>
    new Vue({
        el: '#likesGato',
        data: {
            value: 0,
            seconds: 5
        },
        watch: {
            result () {
                setTimeout(() => this.value = 0, this.seconds * 1000);
            }
        }
    });
</script>

<div class="footer">
  <p style="font-family:'Verdana';font-size:14px;margin-top:40px">ingridhdezbenz@gmail.com</p>
</div>
</body>
</html>